{# src/EG/AssignmentBundle/Resources/views/Advert/add.html.twig #}

{% extends "EGAssignmentBundle:Member:layout.html.twig" %}

{% block egassignment_body %}

    <h2>Sign in</h2>

    {{ include("EGAssignmentBundle:Member:form.html.twig") }}


{% endblock %}

