{% extends "EGAssignmentBundle:Assignment:layout.html.twig" %}

{% block title %}
    Contact
{% endblock %}

{% block egassignment_body %}

    <h2>Contact information</h2>

    <h3>Institute of Technology, Blanchardstown</h3>
    <ul>
        <li>Mail : ggg@itb.ie</li>
        <li>Phone : 0 888 888 888</li>
        <li>Room : C05</li>
        <li>Address : Blanchardstown Rd North, Dublin 15</li>
    </ul>

{% endblock %}