{# src/EG/AssignmentBundle/Resources/views/layout.html.twig #}

{% extends "::layout.html.twig" %}

{% block title %}
    Home
{% endblock %}

{% block body %}

    <h1>Welcome on the GGG website</h1>

    <hr>

    {% block egassignment_body %}
    {% endblock %}

{% endblock %}