{# src/EG/AssignmentBundle/Resources/views/Advert/add.html.twig #}

{% extends "EGAssignmentBundle:Publication:layout.html.twig" %}

{% block egassignment_body %}

    <h2>New publication</h2>

    {{ include("EGAssignmentBundle:Publication:form.html.twig") }}


{% endblock %}