{# src/EG/AssignmentBundle/Resources/views/Advert/add.html.twig #}

{% extends "EGAssignmentBundle:Project:layout.html.twig" %}

{% block egassignment_body %}

    <h2>New project</h2>

    {{ include("EGAssignmentBundle:Project:form.html.twig") }}


{% endblock %}