{# src/EG/AssignmentBundle/Resources/views/Advert/edit.html.twig #}

{% extends "EGAssignmentBundle:Project:layout.html.twig" %}

{% block title %}
    Edit project
{% endblock %}

{% block egassignment_body %}

    <h2>Edit project</h2>

    {{ include("EGAssignmentBundle:Project:form.html.twig") }}

    <p>
        <a href="{{ path('eg_project_view', {'id': project.id}) }}" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Back to the project
        </a>
    </p>

{% endblock %}