{# src/EG/AssignmentBundle/Resources/views/layout.html.twig #}

{% extends "::layout.html.twig" %}

{% block title %}
    Project
{% endblock %}

{% block body %}

    <h1>Project</h1>

    <hr>

    {% block egassignment_body %}
    {% endblock %}

{% endblock %}